*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.wrapper{
    box-sizing: content-box;
    background-color: #fffa;
    height: min-content;
    font-size: 550%;
    display: flex;
    text-align: center;
}

@media (max-width: 480px) {
    .wrapper{
        box-sizing: content-box;
        background-color: #fffa;
        height: min-content;
        font-size: 350%;
        display: flex;
        text-align: center;
    }
}
.words {
    overflow: hidden;
}


.wrapper span{
    display: block;
    height: 100%;
    padding-left: 10px;
    animation: spin_words 10s infinite;
}


.wrapper div{

    width: 100%;
    height: 15vh;
    text-align: center;
    
}

.Apps {
    text-align: center;
    height: 50vh;
    transition: 1s background 0.5s ease-in, 2s color 1s ease-out;
    margin: auto;
    width: 75%;
    display: contents;
    animation-name: fade_in_animation;
    animation-duration: 0.75s;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10%;
}

@keyframes spin_words {
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-406%);
    }
}

.fade-aut{
  animation-name: fade_out_animation;
  animation-duration: 2s;
  animation-delay: 1s;
}

.fade-aut-speed{
    animation-name: fade_out_animation;
    animation-duration: 0.75s;
}

.app-box > a {
    padding: 12px;
    border: 2px solid;
    border-radius: 12px;
    display: list-item;
    text-decoration: none;
    font-size: larger;
}

@keyframes fade_in_animation{
    0%{
        color: #fff;
        scale: 2;
    }
    100%{
        color: #000;
        scale: 1;
    }
}

@keyframes fade_out_animation{
    0%{
        color: #000;
        scale: 1;
    }
    100%{
        color: #fff;
        scale: 4;
    }
}
